{%extends 'base.html'%}
{%block t%}All Qr {%endblock%}
{%block body%}
<section class="gridChart">
{%for i in data%}
    <div class="chart">
        <div class="center">
            <h1>{{i.name}}</h1>
        </div>
        <canvas class="chart rund" id="chart{{i.id}}"></canvas>
        <script>
            date = "{%for j in i.get_day%}{{j.date}}|{%endfor%}".split("|")
            numbers = "{%for j in i.get_day%}{{j.total_scan}}|{%endfor%}".split("|")
            char = new Chart(document.getElementById('chart{{i.id}}') , {
                type:"line",
                data:{
                    labels:date,
                    datasets:[{
                        label:"counter",
                        data:numbers,
                        backgroundColor:"#FFC436",
                        borderColor:"#102C57",
                        tension:0.2,
                    }]
                },
                option:{
                    responsive:true,
                }
            })
        </script>
    </div>
    {%endfor%}
</section>
{%endblock%}